<div class="container subpage_dark tabpage">
  <div class="row page-heading">
    <div class="span6">
      <h2>Your Tasks</h2>
    </div> 
    <div class="span6">
       <%= link_to content_tag(:span,"New Task"), new_task_path, :class=>"btn btn-primary pull-right"  %>
    </div>
  </div>
</div>


<div class="dark_form">
  <div class="container">
    <div class="row">
      <% flash.each do|name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <div id="flash-message"></div>
      <h3>You have <%= pluralize(@tasks.count, 'task') %> assigned to you</h3>
        <table width="100%" cellpadding="5" class="table tiles">
        <tbody>
        <% @tasks.each do |task| %>
            <tr>
            <td class="action_tiles" width="80">
              <ul>
                <li><a href="#" class="darkgrey-color-bg tiles-action-toggle" name="Pending" rel="<%= task.id %>"><span class="icons-dark icon-checkbox-unchecked"></span></a>
                  <ul class="corner-action-tiles" style="display:none;">
                   
                    <li>
                     <%= 
                        link_to content_tag(:span, '', :class => "icons-white icon-checkmark"),
                        { :controller => :tasks, :action => :update, :id => task.id, :status => 'complete' },
                        { :method=>:put, :remote => true, :class => "green-color-bg task-status"}
                      %>
                     </li>
                    <li>
                       <%= 
                        link_to content_tag(:span, '', :class => "icons-dark icon-checkbox-unchecked"),
                        { :controller => :tasks, :id => task.id },
                        { :method=>:put, :remote => true, :class => "darkgrey-color-bg task-status"}
                        %>
                    </li>
                    <li>
                      <%= 
                        link_to content_tag(:span, '', :class => "icons-white icon-pencil"),
                        { :action => :edit, :controller => :tasks, :id => task.id },
                        { :method=>:get, :class => "blue-color-bg task-status"}
                       %>
                      </li>
                  </ul>
                </li>
              </ul>
            </td>
            <td><h3><%= link_to task.title, task_path(task) %></h3></td>
            <td style="text-align:right;">
              <div class="date_due_block">
                <span class="icons-dark icon-clock "></span>Due in <%= distance_of_time_in_words(Time.now, task.date_due) %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
        </table>
     </div>
  </div>
</div>

<script type="text/javascript">

$(function(){

$('.tiles-action-toggle').click(function(e){
  e.preventDefault();
  $(this).parent().find('ul').addClass('task-panel-open').show();
})

$('.task-status').click(function(e){
  e.preventDefault();
  
 
  var me = $(this);
  var target = $(this).prev('.tiles-action-toggle');
  var newClass = $(this).html();
  var oldclass = $(this).attr('class');
  

  $('.task-panel-open').hide().removeClass('task-panel-open');
  $(this).parent().parent().prev().html(newClass);
  $(this).parent('ul').html(newClass);
  target.removeClass('darkgrey-color-bg').removeClass('green-color-bg').removeClass('orange-color-bg').removeClass('blue-color-bg');
  target.addClass(oldclass);


});

});
</script>

